#{extends 'main.html' /}
 
  #{if services.size() > 0}
        <div class="older-posts">    
        <h2>Availables services : </h2>
            #{list items:services, as:'service'}
                <div class="post">
                    <h2 class="post-title">
                        <a href="@{Services.launch(service)}">${service.name}</a>
                    </h2>
                    <div class="post-metadata">
                        <span class="post-author">
                            ${service.description}
                        </span>
                    </div>
                </div>
            #{/list}
        </div>
    #{/if}
    #{else}
    <div class="empty">
        There is currently nothing to list.
    </div>
#{/else}